name: C App Release

on:
  push:
    tags:
      - "v*"
    branches:
      - uat

jobs:
  build-and-release:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install build tools
        run: sudo apt-get update && sudo apt-get install -y build-essential

      - name: Build C program
        run: |
          gcc main.c -o hello-world

      - name: Upload binary as artifact
        uses: actions/upload-artifact@v4
        with:
          name: hello-world
          path: hello-world

      - name: Create GitHub Release
        uses: softprops/action-gh-release@v2
        with:
          files: hello-world
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
